version: "3.9"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: support
      POSTGRES_USER: support
      POSTGRES_PASSWORD: support
      PYTHONUNBUFFERED: 1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  bot:
    build: ./backend
    command: python manage.py runbot
    depends_on:
      - web
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    environment:
      PYTHONUNBUFFERED: 1
    env_file:
      - .env

volumes:
  postgres_data:
