services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: support
      POSTGRES_USER: support
      POSTGRES_PASSWORD: support
      PYTHONUNBUFFERED: 1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data

  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/2
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
    env_file:
      - .env

  bot:
    build: ./backend
    command: python manage.py runbot
    depends_on:
      - web
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    environment:
      PYTHONUNBUFFERED: 1
      CELERY_BROKER_URL: redis://redis:6379/2
      CELERY_RESULT_BACKEND: redis://redis:6379/2
    env_file:
      - .env

  monitor:
    build: ./backend
    command: python manage.py monitor_bot
    depends_on:
      - web
    volumes:
      - ./backend:/app
    environment:
      PYTHONUNBUFFERED: 1
      CELERY_BROKER_URL: redis://redis:6379/2
      CELERY_RESULT_BACKEND: redis://redis:6379/2
    env_file:
      - .env

  worker:
    build: ./backend
    command: celery -A config worker -l info
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_URL=redis://redis:6379/2
    env_file:
      - .env

  beat:
    build: ./backend
    command: celery -A config beat -l info
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_URL=redis://redis:6379/2
    env_file:
      - .env

volumes:
  postgres_data:
  redis_data:
